$('#star').raty({
  readOnly: true,
  score: <%= @comment.average_rating %>,
  path: '/assets'
});

$('#user_star').raty({
  score: <%= @rating.score %>,
  path: '/assets',
  click: function(score, evt) {
    $.ajax({
      url: '/ratings/' + <%= @rating.id %>,
      type: 'PATCH',
      data: { score: score }
    }).done(function (data){});
  }
});