<div class="container-fluid">
<div class="row-fluid">
<div class="span12">
<table class="container-fluid table table-striped table-hover">
  <tr class="row-fluid">
    <th class="span10"><%= sortable "item_name" %></th>
    <th class="span2"><%= sortable "price" %></th>
    <th class="span2"><%= sortable "likes_count" %></th>
    <th class="span4">Actions</th>
  </tr>
 
<% @products.each do |product| %>
  <tr class="row-fluid">
    <td><%= product.item_name %></td>
    <td><i><%= product.currency_code %></i> <%= product.price %></td>
    <td style="text-align:center;"><%= product.likes_count ? product.likes_count : "0" %></td>
    <td>
      <div style="float:left;">
        <%= button_to "Show", product_path(product), :class => "btn btn-primary", :method => :get %>
      </div>
      <div style="float:left;">
        <%= button_to "Like", like_product_path(product), :class => "btn btn-success", :method => :get %>
      </div>
      <div style="float:left;">
        <%= button_to "Dislike", dislike_product_path(product), :class => "btn btn-danger", :method => :get %></td>
      </div>
      <div style="clear:both;">
      </div>
  </tr>
<% end %>
</table>
<br>
<%= will_paginate @products %>
</div>
</div>
</div>
