<%= form_tag search_products_path, :method => :get do %>
  <p>
    <%= text_field_tag :q, params[:q], options ={ :placeholder => "Search here" } %>
    <%= button_tag(type: "submit", class: "btn btn-default") do %>
      <i class="icon-search"></i>
    <% end %>
  </p>
<% end %>