<h1>Edit product</h1>
<p>
<% @product.temp_img_urls.strip.split(/\s+/).each do |p| %>
  <%= link_to image_tag(p), @product.source_url %>
<% end %>
</p>
<p> 
<%= render 'form' %>
 
<%= link_to 'Back', product_path(@product) %>