<%= render 'search_form' %>
<head>
<script>
  $('#star').raty({
    readOnly: true,
    score: <%= @product.average_rating %>,
    path: '/assets'
  });

  $('#user_star').raty({
    score: <%= @rating.score %>,
    path: '/assets',
    click: function(score, evt) {
      $.ajax({
        url: '/ratings/' + <%= @rating.id %>,
        type: 'PATCH',
        data: { score: score }
      });
    }
  });
</script>
</head>
<p>
<% @product.temp_img_urls.strip.split(/\s+/).each do |p| %>
  <%= link_to image_tag(p), @product.source_url %>
<% end %>
</p>
<p>
  <strong>Item Name:</strong>
  <%= @product.item_name %>
</p>
 
<p>
  <strong>Item Description:</strong>
  <%= @product.item_description %>
</p>

<p>
  <strong>Price:</strong>
  <i><%= @product.currency_code %></i>
  <%= @product.price %>
</p>

<p>Averate rating</p>
<div id="star"></div>

<p>Your rating</p>
<div id="user_star"></div>

 
<%= link_to 'Edit Product', edit_product_path(@product) %> |
<%= link_to 'Like Product', like_product_path(@product) %> |
<%= link_to 'Back to Products', products_path %> |
<%= link_to 'Back', :back %> 
<br>
